@import "tailwindcss";

@plugin "daisyui/index.js" {
	themes: nord, night;
}

@theme {
	--font-sans: "Inter", "system-ui", "sans-serif";
	--font-heading: "Manrope", "sans-serif";
}

/* Base resets to apply our fonts globally */
@layer base {
	html {
		font-family: var(--font-sans);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}

#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
}

p {
	margin: 0;
}

code,
.counter {
	display: inline-flex;
	border-radius: 4px;
}

code {
	font-size: 15px;
	line-height: 135%;
	padding: 4px 8px;
}